<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <nav class="bg-[#3778C2] text-white w-full">
    <ul class="flex justify-between mr-6">
      <li class="text-4xl">
        <i class="fa fa-navicon"></i>
      </li>
      <li>
        <h2 class="font-bold text-3xl">Sign Up</h2>
      </li>
      <li>
        <div class="actions text-white">
          <%= button_tag type: 'submit', class:"text-white text-4xl" do %>
            <i class="fa fa-sign-in" aria-hidden="true"></i>
          <% end %>
        </div>
      </li>
    </ul>
  </nav>
  
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field form-group mx-6">
    <% f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control", placeholder:"Full Name" %>
  </div>

  <div class="field form-group mx-6">
    <% f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
  </div>

  <div class="field form-group mx-6">
    <% f.label :password %>
    <% if @minimum_password_length %>
    <em><% @minimum_password_length %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Password 6 characters minimum" %>
  </div>

  <div class="field form-group mx-6">
    <% f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirm Password" %>
  </div>
  <br />
  <div class="actions">
  <%= f.submit "Sign up" %>
</div>
  <div class="mx-6">
    <%= render "devise/shared/links" %>
  </div>
  
<% end %>




