<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <nav class="bg-[#3778C2] text-white w-full">
    <ul class="flex justify-between mr-6">
      <li class="text-4xl">
        <i class="fa fa-navicon"></i>
      </li>
      <li>
        <h2 class="font-bold text-3xl">Log In</h2>
      </li>
      <li>
        <div class="actions text-white">
          <%= button_tag type: 'submit', class:"text-white text-4xl" do %>
            <i class="fa fa-sign-in" aria-hidden="true"></i>
          <% end %>
        </div>
      </li>
    </ul>
  </nav>
  <div class="field form-group mx-6">
    <% f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
  </div>

  <div class="field form-group mx-6">
    <% f.label :password %><br />
    <% if @minimum_password_length %>
      <em><% @minimum_password_length %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"Password" %>
  </div>
  <br />

  <% if devise_mapping.rememberable? %>
    <div class="field mx-6">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  <br />
  
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<br />
<div class="mx-6" >
  <%= render "devise/shared/links"%>
</div>